@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*, 
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* primary */
    --gradient: linear-gradient(90deg, rgba(255,162,153,1) 0%, rgba(255,77,91,1) 100%);

    /* neutral */
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);

    /* gradient */
    --gradient-1:hsl(6, 100%, 80%);
    --gradient-2: hsl(335, 100%, 65%);
}

img {
    max-width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--very-dark-blue);
    background: url('/images/bg-mobile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
}



.container-fylo {
    width: 100%;
    padding: 2rem;
    background-color: var(--dark-blue);
    border-radius: 10px 90px 10px 10px;
}

.btn {
    cursor: pointer;
}

.logo {
    margin-bottom: 2rem;
}

.box__icon {
    display: flex;
    align-items: center;
}

.box__icon img {
    padding: 10px;
    background-color: var(--very-dark-blue);
    height: 40px;
    width: 100%;
    border-radius: 10px;
}

.box__icon div:not(:last-child) {
    margin-right: 10px;
}

.container-space {
    width: 100%;
    padding: 1rem ;
    background-color: var(--dark-blue);
    border-radius: 10px;
    margin-top: 20px;
}

.container-space .space__text {
    font-size: 14px;
    color: var(--pale-blue);
    padding-bottom: 20px;
    text-align: center;
}

.data__box {
    padding: 0;
    margin: 0;
}

.cover__box {
    height: 20px;
    width: 100%;
    background-color: var(--very-dark-blue);
    border-radius: 10px;
    position: relative;
}

.cover__box .inner__box {
    position: absolute;
    top: 50%;
    transform: translate(3px, -50%);
    width: 81.5%;
    background: linear-gradient(225deg, var(--gradient-1), var(--gradient-2));
    height: 14px;
    border-radius: 10px;
}

.inner__box .box1 {
    
    height: 10px;
    width: 10px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 2px;
    border-radius: 50%;
}

.gb__box {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.gb__box span {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
}

.space__left {
    position: absolute;
    background: white;
    max-width: 50%;
    padding: 10px;
    border-radius: 10px;
    left: 30%;
}

h2 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gb__left {
    font-size: 13px;
    color: var(--grayish-blue);
    padding-left: 10px;
}

@media only screen and (min-width: 1440px) {
    body {
    background: url('/images/bg-desktop.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: var(--very-dark-blue);
    }
    .container {
        width: 70%;
        margin: auto;
        flex-direction: row;
        justify-content: center;
        
    }

    .container-fylo {
        flex-basis: 30%;
    }

    .container .container-space {
        flex-basis: 50%;
        margin-top: 70px;
        margin-left: 20px;
    }
    .container-space .space__text {
        text-align: justify!important;
    }

    .container-space .space__left {
        top: 42%;
        left: 65%;
        padding: 15px;
    }

    .container-space .space__left::after {
        content: '';
        position: absolute;
        top: 10;
        right: 0;
        width: 50%;
        height:2rem;
        clip-path: polygon(100% 0, 50% 0, 100% 100%);
        background: white;
    }
}